<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Funcionário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_visualizar.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('busca_funcionario') }}" class="voltar">← Voltar</a>
        <h1>Detalhes do Funcionário</h1>
        <form action="/funcionario/{{ funcionario['id'] }}" method="post" class="formulario">
            <div class="input-group">
                <label for="nome_completo">Nome Completo:</label>
                <input type="text" name="nome_completo" id="nome_completo" value="{{ funcionario['nome_completo'] }}" required>
            </div>
            <div class="input-group">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input type="date" name="data_nascimento" id="data_nascimento" value="{{ funcionario['data_nascimento'] }}" required>
            </div>
            <div class="input-group">
                <label for="salario">Salário:</label>
                <input type="number" name="salario" id="salario" value="{{ funcionario['salario'] }}" required>
            </div>
            <div class="input-group">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf" value="{{ funcionario['cpf'] }}" readonly>
            </div>
            <div class="input-group">
                <label for="cargo">Cargo:</label>
                <input type="text" name="cargo" id="cargo" value="{{ funcionario['cargo'] }}" required>
            </div>
            <div class="input-group">
                <label for="numero_conta">Número da Conta:</label>
                <input type="text" name="numero_conta" id="numero_conta" value="{{ funcionario['numero_conta'] }}" required>
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn">Salvar Alterações</button>
                <button type="button" class="btn" onclick="window.location.href='{{ url_for('mais_informacoes', id=funcionario.id) }}'">
                    Mais Informações
                </button>
                
                <button class="folha_pagamento_button">
                    <a href="{{ url_for('visualizar_folha_pagamento_funcionario', id=funcionario['id']) }}">Ver folha de pagamento</a>
                </button>
            </div>
        </form>
        <form action="/excluir/{{ funcionario['id'] }}" method="post" class="form-excluir">
            <button type="submit" class="btn-excluir">Excluir Funcionário</button>
        </form>
    </div>
    <footer>
        <p>© Todos os Direitos Reservados</p>
    </footer>
</body>
</html>
